.pokemon-grid {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    background-color: #ebe9e6;
    justify-items: center;
    border-bottom: 2px solid rgb(95, 41, 50);
    align-items: center;
  }

  .trainer-header{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #cec7be;
    align-items: center;
    height: 6rem;
    #trainer-title{
        padding: 0 2rem;
    }

    .myButton {
        box-shadow: 0px 10px 14px -7px #276873;
        background-color:#ebe9e6;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }
    .myButton:hover {
        background-color:#000000;
        color:white;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
  }
  