<div class="trainer-header">
    <h1 id="trainer-title">Trainer Page</h1>
    <div class="trainer-header-button">
        <a 
        routerLink="/catalogue" 
        class="myButton">
        Catalogue</a>
    </div>
    
</div>

<div class="pokemon-grid" *ngFor="let pokemon of pokemons" >
    <h1>{{pokemon.name}}</h1>
    <h1>{{pokemon.id}}</h1>
    <img [src]="pokemon.sprites" alt="pokemon image">
</div>
