<div >



    <form class="login-form" #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
            <label for="email">Email/Login name</label>
            <input 
                type="email" 
                id="email" 
                name="email"
                required
                ngModel #email="ngModel"
                placeholder="example@hotmail.com" />
            <button type="submit"
                [disabled]="createForm.invalid">
                press
        </button>


    </form>
    
</div>
