.pokemon-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  background-color: #ebe9e6;

}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cec7be;
  height: 6rem;
}
button {
  background-color: #ee1515;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  align-self: flex-end;
  margin-right: 10px;
  width: 160px;
  align-self: center;
}
button:hover{
  background-color: black;
  color: white;
}
#catalogue-title{
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  width: auto;
}

.invisible{
  width: 160px;
  margin-left: 10px;
}