<div class="navBar">
    <div class="invisible"></div>
    <h1 id="catalogue-title">Get ya pokemons! </h1>
    <button (click)="toTrainerPage()">Trainer Page</button>
</div>

<div class="pokemon-grid" >
    <app-catalogue-item
    *ngFor="let pokemon of pokemons"
    [pokemons]="pokemon" 
    ></app-catalogue-item>
</div>