.pokemon-grid-box {
  width: 100%;
  height: auto;
  box-shadow: 1px, 2px, 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  text-align: center;
  background-color: #cec7be;
  margin: 0.5rem 0.5rem;
}
