<div class="pokemon-grid-box" (click)="choosePokemon(pokemons?.name)">
    <h3>{{pokemons?.name}}</h3>
    <h3>ID: {{pokemons?.id}}</h3>
    <ng-template [ngIf]="pokemons?.captured" [ngIfElse]="captured"  >
        <img
            width="96px"  
            src="assets/images/gotit.png" 
            alt="PokemonPic">
    </ng-template>
    <ng-template #captured>
        <img 
            [src]="pokemons?.sprites?.front_default" 
            alt="PokemonPic">
    </ng-template>
</div>